main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.right-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}